body{ margin: 0;
padding: 0;
font-family:sans-serif ;
}
nav{
    display: flex;

    
}
.logoimg{
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.logoimg p{
    font-weight: bolder;
    font-size: 2.8rem;
}
.logoimg p span{
    color: #F6B400;
}
 nav ul { 
    display: flex;
    list-style: none; 
    width: 100%;
    justify-content: right;
    align-items: center;
    
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 30px;
    padding-right: 60px;
}
nav ul li a img{
    width: 40px;
    padding-right: 120px;
}
nav hr{
    background-color: #F6B400;
    width: 50px;
    height: 10px;
    border: none;
    margin-right: 60px;
    position: absolute;
}
/* Beggining of styling for the second section*/
.overallsecond{ 
    background-image: -webkit-linear-gradient(144deg,#F6B400 50%, white 50%);
}
.second{ 
    display: flex;
    justify-content: space-around;
    height: 750px;
    width: 100%;
}
.text { 
    padding-top: 90px;
    margin-left: -200px;
    width: 40%;
}
.text h2{
    font-weight: bolder;    
    font-size: 50px;
    margin-left: 80px;
}
.text p{ 
    color: #6c6363;
    font-size: large;
    font-weight: 500;
    margin-left: 80px;
}
.text .order{ 
    color: white;
     background-color: #f9952D; ;
     padding: 20px;
     border: none;
     border-radius: 40px 40px 0 40px;
    margin-top: 40px;
    margin-left: 120px;
}
.second .largeburger img {
    height: 550px;
    margin-top: 60px;
    margin-right: 400px;
}
.second .largeburger{ 
}
