body{ margin: 0;
padding: 0;
font-family:sans-serif ;
}
nav{
    display: flex;

    
}
.logoimg{
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.logoimg p{
    font-weight: bolder;
    font-size: 2.8rem;
}
.logoimg p span{
    color: #F6B400;
}
 nav ul { 
    display: flex;
    list-style: none; 
    width: 100%;
    justify-content: right;
    align-items: center;
    
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 30px;
    padding-right: 60px;
}
nav ul li a img{
    width: 40px;
    padding-right: 120px;
}
nav hr{
    background-color: #f9952D;
    width: 50px;
    height: 10px;
    border: none;
    margin-right: 60px;
    position: absolute;
}
/* Beggining of styling for the second section*/
.overallsecond{ 
    background-image: -webkit-linear-gradient(144deg,#F6B400 50%, white 50%);
}
.second{ 
    display: flex;
    justify-content: space-around;
    height: 750px;
    width: 100%;
}
.text { 
    padding-top: 90px;
    margin-left: -200px;
    width: 40%;
}
.text h2{
    font-weight: bolder;    
    font-size: 50px;
    margin-left: 80px;
}
.text p{ 
    color: #6c6363;
    font-size: large;
    font-weight: 500;
    margin-left: 80px;
}
.text .order{ 
    color: white;
     background-color: #f9952D; ;
     padding: 20px;
     border: none;
     border-radius: 40px 40px 0 40px;
    margin-top: 40px;
    margin-left: 120px;
}
.second .largeburger img {
    height: 550px;
    margin-top: 60px;
    margin-right: 400px;
}
.second .largeburger{ 
}
/*The beginning of styling for the third section with three cards*/
.cards{ 
     background-color: #f7fdf6;
     display: flex;
     justify-content: center;
     height: 600px;
     
    }
.card1 img{ height: 70px;}
.card2 img{height: 70px;
}
.cards h3{ 
    color: #551312;
    font-size: 26px;
}
.card1{ border: 1px solid #551312;
height: 340px;
padding: 30px;
margin-top: 90px;
border-radius: 4%;
margin-left: 50px;
}
.card2{ border: 1px solid #551312;
height: 400px;
justify-content: center;
padding: 60px;
margin-top: 40px;
border-radius: 4%;
margin-left: 50px;
}
.card1 p{ text-align: center;}
.card2 p{ text-align: center;}
.fourth h2{
    text-align: center;
    font-size: 35px;
}
.fourth span{ color: #F6B400;}
.fourth hr{
    background-color: #f9952D;
    width: 50px;
    height: 12px;
    border: none;
    margin-right: 890px;
    
    
}
/* Begginning of styling for the fourth section */
.firstthree{ 
    display: flex;
    justify-content: center;
    height: 600px;
}
.firstthree h3{
    color: #551312;
    font-size: 28px;
}
.burger1 { 
    box-shadow: 0 2px 3px 2px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    padding: 60px;
    border-radius: 7%;
}
.burger2{
    box-shadow: 0 1px 2px 1px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    padding: 60px;
    border-radius: 7%;
}
.burger1 img{ 
    padding-top: 30px;
}
.burger2 img {
    padding-top: 30px;
}
.lowerpart button {
    background-color:#e1ebe6;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 13px;
    border: none;
}
.lowerpart img{
    padding: 6px;
}
.lowerpart{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
/* Beggining of styling for the second three cards*/
/* Beggining of styling for the fifth section*/

.fifth{
    display: flex;
     justify-content: space-evenly;
     background-color: #e1ebe6;

}
.fifth h1 {
   font-size: 50px;
   font-weight: bolder;
}
.leftdecker{
    padding-top: 200px;
}
.leftdecker span{
    color: #F6B400;

}
.leftdecker p{
    color: #6c6363;
    font-size: larger;
    font-weight: bold;

}
.fifth button{
    border-radius: 90px;
    border: none;
    background-color:#c4c4c4;
    padding: 10px;
    margin: 6px;
}
.fifth button:hover{
    color: #f9952D;
}
.fifth .firstbutton{
    background-color: #f9952D;
}
/*Styling for the section with the mobile */

.mobiles{
display: flex;
justify-content: space-around;
height: 900px;
padding: 60px;
background-color: #f6b531;
overflow: hidden;
}
.leftmobile{ 
    width: 40%;
    margin-right: 40px;
    padding-top: 70px;
}
.rightmobile{ 
    width: 60%;
    height: 200px;
}
.leftmobile h1{ 
    font-weight: bolder;
    font-size: 60px;
    padding-left: 20px;
    padding-top: 70px;
}
.leftimage {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
}
/* Styling for the section with input*/
.seventh{
    position: relative;
    display: flex;
    justify-content: space-around;
    background-color: #e1ebe6;
    
}
.burger{ 
    border: 2px solid black;
    
}
.burger p{
    font-weight: bolder;
    font-size: 40px;
    padding-left: 80px;
    padding-bottom: 60px;
}

.leftside li{
    list-style-type: none;
    line-height: 1cm;
    margin-left: 150px;
}
.leftside{
    
    position: relative;
    display: flex;
    width: 50%;
    
}
.rightside{

    width: 50%;
}
.leftside ul{

}
.site{
    font-size: larger;
    font-weight: bold;
}

.burger img{
    align-items: center;
}
.rightside a button{
    padding: 20px 30px 20px 30px;
    border: 1px solid #6c6363

    
}